.App {
  font-family: sans-serif;
  text-align: center;
  cursor: cell;
  background: black;
  color: #00ff00
}

.button {
  background-color: #000000;
  border: 1px solid;
  color: #00ff2d;
  cursor: pointer;
  margin: 10px;
  padding: 12px 21px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.cell {
  background: red;
  border: 1px solid black;
}

.on {
  background-color: #58ff03;
}

.winner {
  background-color: rgb(60, 60, 255) !important;
  animation: blinker 0.3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

ul {
  display: inline;
}

a {
  color: #cdcbff;
  text-decoration: none;
  cursor: pointer;
}

.watch {
  display: grid;
  grid-template-columns: repeat(2, auto);
  width: 100%
}