.App {
  font-family: sans-serif;
  text-align: center;
}

.cell {
  background-color: red;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto);
  width: 100%;
  background-color: blue;
}
